@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*{
  font-family: "Geist", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdfbfb;
    --foreground: #050505;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-red-elote: #9A171C;
  --color-yellow-elote: #DD9B2A;
  --color-black-elote: #291F1F;
}

.hamburguer-line{
  width: 30px;
  height: 4px;
  display: block;
  background: white;
  transition: 0.5s;
  border-radius: 5px;
}

span:first-child {
  margin-bottom: 4px;
}

span:last-child {
  margin-top: 4px;
}

label:hover {
  cursor: pointer;
}

input:checked + label span {
  opacity: 0;
  top: 50%;
}

input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}

input ~ .nav-ul {
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
}

input ~ .nav-ul {
  display: none;
  text-align: center;
  right: 20%;
}

input ~ .nav-ul li {
  list-style-type: none;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}

input ~ .nav-ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
}

input:checked ~ .nav-ul {
  height: 100%;
  transition-delay: 0s;
  display: block;
}

input:checked ~ .nav-ul li {
  opacity: 1;
  transition-delay: 0.5s;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.products{
  overflow: hidden;
}

.products:before {
  width: 250px;
  height: 100px;
  content: "";
  z-index: 20;
}

.products:before {
  left: 0;
  background: linear-gradient(261deg, #FFD403 6.59%, #FFD403 92.68%);
  filter: blur(2px);
}

.products:after {
  left: 0;
  background: linear-gradient(261deg, #FFD403 6.59%, #FFD403 92.68%);
  filter: blur(2px);
}

.products:hover .products-slide {

  animation-play-state: paused;
}

/* .products-slide{
  animation: 5s slide infinite linear;
} */

.card-product {
  width: 180px;
  height: 180px;
}

.card-product p {
  font-size: 12px;
}

.card-product h3 {
  font-size: 20px;
}

.footer{
  height: 600px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer{
    height: 800px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer{
    height: 300px;
  }

  .card-product {
    width: 300px;
    height: 300px;
  }

  .card-product p {
    font-size: 14px;
  }
  
  .card-product h3 {
    font-size: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
